<form #krlitoForm="ngForm" (ngSubmit)="onSubmit()">
    <!-- <p>valid : {{krlitoForm.valid}}</p>
    <p>sumbit : {{krlitoForm.submitted}}</p>
    <p>invalid : {{krlitoForm.invalid}}</p> -->
    <div>
        <label for="fName">First Name : </label>
        <input type="text" id="fName" name="fName" #firstN="ngModel" [(ngModel)]="model.firstName" minlength="3" maxlength="15" required>
        <span *ngIf="firstN.errors && krlitoForm.submitted" class="invalid">
            <p *ngIf="firstN.errors?.['required']">Enter a First name</p>
            <p *ngIf="firstN.errors?.['minlength']">Enter minimum 3 characters</p>
            <p *ngIf="firstN.errors?.['maxlength']"> Enter maximum 15 characters</p>
        </span>
    </div>
    <div>
        <label for="lName">Last Name : </label>
        <input type="text" id="lName" name="lName" #lastN="ngModel" [(ngModel)]="model.lastName" minlength="3" maxlength="15" required>
        <span *ngIf="lastN.errors && krlitoForm.submitted" class="invalid">
            <p *ngIf="lastN.errors?.['required']">Enter a Last name</p>
            <p *ngIf="lastN.errors?.['minlength']">Enter minimum 3 characters</p>
            <p *ngIf="lastN.errors?.['maxlength']"> Enter maximum 15 characters</p>
        </span>
    </div>   
    <div>
        <label for="gender">Gender : </label>
        <select id="gender" name="gender" [(ngModel)]="model.gender">
            <option value="male">Male</option>
            <option value="female">Female</option>
            <option value="other">Other</option>
        </select>
    </div> 
    <div class="bDay">
        <label for="birthDay">Birth : </label>
        <input type="date" id="birthDay" name="birthDay" [(ngModel)]="model.birthday" required>
        
        <div class="dateCases">
            <div class="dayBirth">
                <label for="dayB">Day</label>
                <input type="text" id="dayB" name="dayB" readonly>
            </div>
            <div class="monthBirth">
                <label for="monthB">Month</label>
                <input type="text" id="monthB" name="monthB" readonly>
            </div>
            <div class="yearBirth">
                <label for="yearB">Year</label>
                <input type="text" id="yearB" name="yearB" readonly>
            </div>
        </div>
    </div>
    <div>
        <label for="mail">Email : </label>
        <input type="email" id="mail" name="mail" #email="ngModel" [(ngModel)]="model.email" required email>
        <span *ngIf="email.errors && krlitoForm.submitted" class="invalid">
            <p *ngIf="email.errors?.['required']">Enter an email</p>
            <p *ngIf="email.errors?.['email']">Enter a valid adress mail</p>
        </span>
    </div>
    <div class="passwords">
        <div>
            <label for="pswd">Password :</label>
            <input type="password" id="pswd" name="pswd" #pswd="ngModel" [(ngModel)]="model.password" minlength="5" required="">
            <span *ngIf="pswd.errors && krlitoForm.submitted" class="invalid">
                <p *ngIf="pswd.errors?.['required']">Please enter a password!</p>
                <p *ngIf="pswd.errors?.['minlength']">Please enter a valid password</p>
            </span>
        </div>
        <div>
            <label for="pswdchck">Confirmation Password :</label>
            <input type="password" id="pswdchck" name="pswdchck" #pswd1="ngModel" [(ngModel)]="model.passwordBis" required>
            <span *ngIf="pswd1.errors && krlitoForm.submitted" class="invalid">
                <p *ngIf="pswd1.errors?.['required']">Please enter a second time the password</p>
            </span>
            <span *ngIf="krlitoForm.submitted && pswd!=pswd1" class="invalid">
                <p>Please enter the same password</p>
            </span>

        </div>
    </div>
    <div class="button">
        <button type="submit">SAVE</button>
        <button type="reset">CANCEL</button>
    </div>
</form>